
br.mo { display:none; } 
#top { opacity:0; visibility:hidden; position:fixed; transition:0.5s all; bottom:70px; right:50%; margin-right:-45%; width:55px; height:55px; text-align: center; background:#2368B1; border-radius:50%; cursor:pointer; z-index:999; } 
#top i { line-height:55px; font-size:22px; color:#fff } 
#top.on { opacity:1; visibility:visible; } 

#footer { width:100%; padding:70px 0; background:#2368b1; } 
.foot { max-width:1200px; margin:0 auto; position:relative; min-height:60px; } 
.foot h3 { position:absolute; top:0; left:0; } 
.foot h3 a { display:block; width:200px; } 
.foot h3 a img { width:100% } 
.foot address { margin-left:260px; font-size:15px; color:#fff; line-height:1.6; font-weight:400; } 
.foot address .br_t { display:none; } 
.foot address .none_t { display:inline; } 

.foot .copy { margin-top:10px; font-size:13px; color:rgba(255,255,255,0.8); line-height:1; font-weight:400; } 
.foot .f_sns { position:absolute; top:0; right:0; } 
.foot .f_sns span { display:inline-block; width:55px; text-align: center; } 
/*.foot .f_sns span + span { margin-left:5px; } */
.foot .f_sns span a { display:block; } 
.foot .f_sns span a i { display:inline-block; width:36px; } 
.foot .f_sns span a i .mo { display:none; } 
.foot .f_sns span a i img { width:100%; } 
.foot .f_sns span a em { display:block; margin-top:10px; font-size:10px; color:#fff; line-height:1; text-align:center; } 


#wrap { width:100%; max-width:1920px; margin:0 auto; } 
#header { position:relative; max-width:1200px; height:80px; margin:0 auto; } 
#header h1 { position:absolute; top:25px; left:0; font-size: 0; } 
#header h1 a { display:block; } 
#header h1 a img { height:28px; } 
#header .gnb_pc { position:absolute; top:0; right:0; } 
/* #header .gnb_pc.fixed { position:fixed; top:0; right:calc((100% - 1200px) / 2); z-index:1000; padding:0 20px; background:#fff; box-shadow:0 2px 12px rgba(0,0,0,0.08); }  */
#header .gnb_pc ul li { float:left; position:relative; } 
#header .gnb_pc ul li:before { content:""; position:absolute; bottom:22px; left:50%; transform:translateX(-50%); width:0%; height:2px; background:#1969B2; transition:0.2s all; } 
#header .gnb_pc ul li:hover:before { content:""; width:100%; } 
#header .gnb_pc ul li + li { margin-left:40px; } 
#header .gnb_pc ul li a { display:block; font-size:16px; color:#000; line-height:80px; font-family: 'Lato'; font-weight: 500; } 
#header .gnb_pc ul li:hover a { color:#1969B2; font-weight:500; } 
#header .gnb_pc ul li a i { display: inline-block; width: 20px; height: 20px; background: url(/image/icon_insta_blue.png)center no-repeat; background-size: cover; vertical-align: middle; margin-left: 3px; margin-top: -5px; } 
#header .gnb_mo { display:none; } 

@media screen and (max-width:1200px) { 
#header .gnb_pc { right:30px; } 
/* #header .gnb_pc.fixed { right:30px; }  */
#header h1 { left: 30px; } 

#footer { width:100%; padding:5.8333vw 30px; background:#2368b1; } 
.foot { max-width:100.0000vw; min-height:5.0000vw; } 
.foot h3 { top:0; left:0; } 
.foot h3 a { width:16.6667vw; } 
.foot h3 a img { width:100% } 
.foot address { margin-left:21.6667vw; font-size:1.2500vw; } 
.foot .copy { margin-top:0.8333vw; font-size:1.0833vw; } 
.foot .f_sns { top:0; right:0; } 
.foot .f_sns span { width:5.2vw; } 
.foot .f_sns span + span { } 
.foot .f_sns span a { } 
.foot .f_sns span a i { width:3.0000vw; } 
.foot .f_sns span a i img { width:100%; } 
.foot .f_sns span a em { margin-top:0.8333vw; font-size:0.8333vw; } 

 } 


@media screen and (max-width:1024px) { 
#wrap { min-width: 100%; } 
#header { width:100%; margin:0 auto; } 
#header h1 { position:absolute; top:28px; left:30px; } 
#header h1 a img { height:22px; } 
#header .gnb_pc { right:30px; } 
#header .gnb_pc ul li + li { margin-left:30px; } 
#header .gnb_pc ul li a { font-size:14px; } 

#footer { padding:5.8333vw 0; } 
.foot { max-width:100%; min-height:18.5547vw; } 
.foot h3 { top:0; left:5.8594vw; } 
.foot h3 a { width:16.6667vw; } 
.foot h3 a img { width:100% } 
.foot address { margin-left:29.2969vw; font-size:1.5625vw; } 
.foot address .br_t { display:block; } 
.foot address .none_t { display:none; } 
.foot .copy { margin-top:0.9766vw; font-size:1.3672vw; } 
.foot .f_sns { position:relative; top:auto; right:auto; margin-top:3.9063vw; margin-left:29.2969vw; } 
.foot .f_sns span { width:7vw; } 
.foot .f_sns span + span { } 
.foot .f_sns span a { } 
.foot .f_sns span a i { width:3.9063vw; } 
.foot .f_sns span a i img { width:100%; } 
.foot .f_sns span a em { margin-top:0.9766vw; font-size:0.9766vw; } 

 } 


@media screen and (max-width:768px) { 
body.fixed { overflow:hidden; position:fixed; } 
.bg { display: none; position: absolute; 
top: 80px; 
left: 0; 
width: 100%; 
height: 100%; 
background: rgba(0,0,0,0.8); 
transition: all .3s ease .3s; 
opacity: 1; z-index:10; } 
.bg.on { display: block; } 
br.mo { display:block; } 
#top { width:62px; height:62px; } 
#top i { line-height:62px; font-size:30px; color:#fff } 

#wrap { min-width: 100%; } 
#header { width:100%; margin:0 auto; } 
#header h1 { position:absolute; top:26px; left:50%; transform:translateX(-50%); } 
#header h1 a img { height:26px; } 
#header .gnb_pc { display:none; } 
#header .nav_menu.on .gnb_mo { opacity:1; visibility:visible; } 
#header .nav_menu .gnb_mo { display: block; 
opacity:0; visibility:hidden; 
position: absolute; 
top: 80px; 
right: 0; 
width: 320px; 
height: 100vh; 
border-left: 1px solid #e3e3e3; 
padding-top: 50px; 
background: #fff; 
transform: translateX(0); 
transition: all .3s ease; z-index:20; } 
#header .nav_menu .gnb_mo:before { content:""; position:absolute; top:0px; right:0; width:100%; background:#1969B2; height:1px; } 
#header .nav_menu .gnb_mo ul { margin-left:20px; } 
#header .nav_menu .gnb_mo ul li { padding-left:20px; position:relative; } 
#header .nav_menu .gnb_mo ul li + li:before { content:""; position:absolute; top:-20px; left:0; width:100%; height:1px; background:#ddd; } 
#header .nav_menu .gnb_mo ul li + li { margin-top:40px; } 
#header .nav_menu .gnb_mo ul li > a { display:block; font-size:18px; color:#333; line-height:1; font-family: 'Lato'; font-weight: 500; } 
#header .nav_menu .gnb_mo ul li dl { } 
#header .nav_menu .gnb_mo ul li dl dd { padding-left:30px; position:relative; } 
#header .nav_menu .gnb_mo ul li dl dd + dd { margin-top:20px; } 
#header .nav_menu .gnb_mo ul li dl dd a { display:block; font-size:18px; color:#333; line-height:1.5; font-family: 'Lato'; font-weight: 500; } 
#header .nav_menu .gnb_mo ul li dl dd a i { position:absolute; top:4px; left:0; display: block; width: 18px; height: 18px; background: url(/image/icon_insta_blue.png)center no-repeat; background-size: cover; } 

.nav_menu { } 
.nav_menu .all_btn { position:absolute; top:25px; right:20px; display:block; width:34px; height:26px; z-index:100; cursor:pointer; } 
.nav_menu .all_btn span:nth-of-type(1) { position:absolute; top:0; left:0; display:block; width:100%; height:3px; background:#1969B2; transition:0.3s all; } 
.nav_menu .all_btn span:nth-of-type(2) { position:absolute; top:11px; left:0; display:block; width:80%; height:3px; background:#1969B2; transition:0.3s all; } 
.nav_menu .all_btn span:nth-of-type(3) { position:absolute; bottom:0; left:0; display:block; width:100%; height:3px; background:#1969B2; transition:0.3s all; } 
.nav_menu.on .all_btn span:nth-of-type(1) { top:10px; transform:rotate(45deg); } 
.nav_menu.on .all_btn span:nth-of-type(2) { opacity:0 } 
.nav_menu.on .all_btn span:nth-of-type(3) { top:10px; transform:rotate(-45deg); } 


#footer { padding:23.3516vw 0; } 
.foot { max-width:100%; min-height:65.9341vw; text-align:center; } 
.foot h3 { position:relative; top:auto; left:auto; display:inline-block } 
.foot h3 a { width:46.7033vw; } 
.foot h3 a img { width:100% } 
.foot address { margin-left:0; margin-top:12.3626vw; font-size:3.5714vw; padding:0 4.1209vw; } 
.foot address .br_t { display:block; } 
.foot address .none_t { display:none; } 
.foot .copy { margin-top:6.8681vw; font-size:3.2967vw; } 
.foot .f_sns { margin-top:9.6154vw; margin-left:0; display:inline-block; } 
.foot .f_sns span { width:17.6vw; } 
.foot .f_sns span + span { } 
.foot .f_sns span a i { width:9.6154vw; } 
.foot .f_sns span a i img { width:100%; } 
.foot .f_sns span a em { margin-top:0.9766vw; font-size:2.4725vw; } 
.foot .f_sns span a i .mo { display:block; } 
.foot .f_sns span a i .pc { display:none; } 
 } 
